.ajax-loading,
.alert {
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.ie6 .alert {
	position: relative; /* IE6 doesn't do position:fixed, this will position the dismiss button inside the div */
}

.alert .errors,
.alert .message {
	background: none;
	border: none;
	color: #fff;
	font-size: 1em;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.alert .message {
	background-color: rgba(127, 127, 255, 0.95);
	padding: 1em;
	text-align: center;
}

.no-rgba .alert .message {
	background-color: #7f7fff;
}
.ie6 .alert .message,
.ie7 .alert .message,
.ie8 .alert .message {
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f27f7fff, endColorstr=#f27f7fff);
}

.alert .errors {
	background-color: rgba(255, 63, 63, 0.95);
}

.no-rgba .alert .errors {
	background-color: #ff3f3f;
}

.ie6 .alert .errors,
.ie7 .alert .errors,
.ie8 .alert .errors {
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2ff3f3f, endColorstr=#f2ff3f3f);
}

.alert .errors ul {
	list-style: none;
	margin: 0.5em auto;
	max-width: 640px;
}

.alert .errors li {
	background: none;
	list-style: disc inside;
	padding: 0.5em;
}

a.dismiss-alert {
	background: url(../images/skin/icon_close.png);
	text-indent: -9999px;
	height: 42px;
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	text-shadow: none;
	width: 42px;
}
