label + input[type=range],
label + output.range-output {
	vertical-align: middle;
}

input[type=range] {
	background: transparent; /* opera */
	border: 0;
	padding: 0;
	vertical-align: middle;
}

output.range-output {
	display: inline-block;
	margin-left: 1em;
	vertical-align: middle;
}
