input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing:content-box;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
	display: none;
}

ul.autocomplete-selected {
	list-style-type: none;
	padding: 0;
}

ul.autocomplete-selected li {
	background-color: #FCFCFC;
	border-color: #ccc;
	border-style: none solid solid;
	border-width: 1px;
	overflow: hidden;
	padding: 0.3em;
	position: relative;
}

.ie6 ul.autocomplete-selected li,
.ie7 ul.autocomplete-selected li {
	zoom: 1;
}

ul.autocomplete-selected .value {
	font-size: 0.8em;
	margin-right: 16px;
	padding-right: 0.5em;
	white-space: nowrap;
}

.ie6 ul.autocomplete-selected .value,
.ie7 ul.autocomplete-selected .value {
	display: inline;
	zoom: 1;
}

ul.autocomplete-selected a.autocomplete-remove-selection {
	background: url(/images/skin/icon_delete.png) no-repeat 0 1px transparent;
	display: inline-block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	text-decoration: none;
	text-indent: -9999px;
	width: 16px;
}

.ie6 ul.autocomplete-selected a.autocomplete-remove-selection,
.ie7 ul.autocomplete-selected a.autocomplete-remove-selection {
	display: inline;
	zoom: 1;
}

body .ui-widget {
	font-size: 0.9em;
}

