html {
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #758c3c, #fff); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #758c3c),color-stop(1, #ffffff)); 
	background-image: linear-gradient(top, #758c3c, #ffffff);
	          filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#758c3c', EndColorStr='#ffffff'); 
	background-repeat: no-repeat;
	height: 100%;
	 /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	 -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	         box-sizing: border-box;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: #fff;
	color: #333;
	font-size: 62.5%; /* this gives us a base font size of 10px in most browsers, ems calculations are then easy */
	font-family: "Segoe UI",Tahoma,Helvetica,"Helvetica Neue",Arial,sans-serif;
	margin: 0 auto;
	max-width: 1140px;
	min-height: 100%;
    -moz-box-shadow: 0 -10px 10px #255b17;
 -webkit-box-shadow: 0 0 10px #255b17;
         box-shadow: 0 0 10px #255b17;
	visibility: hidden;
}

.no-js body, body.ready {
	visibility: visible;
}

.ie6 body {
	height: 100%;
}

a:link, a:visited, a:hover {
	color: #48802c;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 2em;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding-left: 15px;
}

img {
	border: 0;
}

/* GENERAL */

#grailsLogo a {
	display: inline-block;
	margin: 1.5em;
}

.content {
	margin: 0 2em;
	padding-bottom: 2em;
}

/* NAVIGATION MENU */

.nav {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eaeaea));
              filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    border-width: 1px;
    border-color: #ccc;
    border-style: solid none solid none;
    padding: 0.7em 1.2em;
    zoom: 1;
    -moz-box-shadow: 0 0 3px #ccc;
 -webkit-box-shadow: 0 0 3px #ccc;
         box-shadow: 0 0 3px #ccc;
}

.nav ul {
	overflow: auto;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	padding: 0.4em 1.1em;
}

.nav a {
	color: #666;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.3em;
	text-decoration: none;
}

.nav a:active, .nav a:visited {
	color: #666;
}

.nav a:focus, .nav a:hover {
	color: #333;
    text-shadow: 1px 1px 3px #ccc; 
}

.nav a.home {
	background: url(../images/skin/house.png) center left no-repeat;
	padding-left: 25px;
}

.nav a.list {
	background: url(../images/skin/database_table.png) center left no-repeat;
	padding-left: 25px;
}

.nav a.create {
	background: url(../images/skin/database_add.png) center left no-repeat;
	padding-left: 25px;
}

/* FORMS */

fieldset,
dl {
	border: 1px solid #CCCCCC;
	margin-top: 1em;
	padding: 0.5em 3em 2em;
	-moz-box-shadow: 0 0 3px #ccc;
 -webkit-box-shadow: 0 0 3px #ccc;
		 box-shadow: 0 0 3px #ccc;
}

.fieldcontain,
dt {
	margin-top: 1em;
}

dt, dd {
	font-size: 1.5em;
}

dt {
	color: #666;
	margin-top: 1em;
}

label {
	color: #666;
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	margin-bottom: 0.25em;
	padding-left: 0.1em;
}

input, output, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font-size: 1.5em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

fieldset.form input,
fieldset.form select,
fieldset.form textarea {
	width: 40em;
	 /* change the box model to exclude the padding from the calculation of width */
	 -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	         box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
	border: 1px solid #b2d1ff;
	outline: 0;
	-moz-box-shadow: 0 0 3px #b2d1ff;
 -webkit-box-shadow: 0 0 3px #b2d1ff;
		 box-shadow: 0 0 3px #b2d1ff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

/*
	found here http://net.tutsplus.com/tutorials/html-css-techniques/25-html5-features-tips-and-techniques-you-must-know/
	doesn't seem to work in latest Chrome but does in Opera
*/
input[type=range]:before { content: attr(min); padding-right: 0.5em; }
input[type=range]:after { content: attr(max); padding-left: 0.5em; }

input[type=range] {
	border: 1px solid transparent;
	vertical-align: middle;
}

input[type=range]:focus {
	border: 1px solid transparent;
}

output {
	display: inline-block;
	font-size: 1.2em;
	margin-right: 0.5em;
	text-align: center;
	width: 2em;
	vertical-align: middle;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 1.3em;
	line-height: 1.6em;
	margin: 1em 0 1em 0;
	padding: 0.5em;
}

.message {
	background: #f3f8fc url(../images/skin/information.png) 0.5em 50% no-repeat;
	border: 1px solid #b2d1ff;
	color: #006dba;
	text-indent: 21px;
	-moz-box-shadow: 0 0 3px #b2d1ff;
 -webkit-box-shadow: 0 0 3px #b2d1ff;
		 box-shadow: 0 0 3px #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #faa;
	color: #c00;
	-moz-box-shadow: 0 0 3px #faa;
 -webkit-box-shadow: 0 0 3px #faa;
		 box-shadow: 0 0 3px #faa;
}

.errors ul {
	list-style: none;
	padding: 0;
}

.errors li {
	background: url(../images/skin/exclamation.png) 0 50% no-repeat;
	padding-left: 16px;
	text-indent: 0.5em;
}

select:invalid,
input:invalid,
textarea:invalid,
.error select,
.error input,
.error textarea {
	border: 1px solid red;
}


select:invalid:focus,
input:invalid:focus,
textarea:invalid:focus,
.error select:focus,
.error input:focus,
.error textarea:focus {
	   -moz-box-shadow: 0 0 3px red;
	-webkit-box-shadow: 0 0 3px red;
            box-shadow: 0 0 3px red;
}

/* TABLES */

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
	-moz-box-shadow: 0 0 3px #ccc;
 -webkit-box-shadow: 0 0 3px #ccc;
		 box-shadow: 0 0 3px #ccc;
}

tr {
	border: 0;
}

td, th {
	border-left: 1px solid #ddd;
	font-size: 1.5em;
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eaeaea));
			  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
		  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666;
}

th a:hover, th a:focus {
	color: #333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #fff;
}

th:hover, tr:hover {
	background: #b2d1ff;
}

/* PAGINATION */

.pagination {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eaeaea));
			  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
		  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	border: 1px solid #ccc;
	border-top: 0;
	padding: 1em 0.3em;
	text-align: center;
	-moz-box-shadow: 0 0 3px #ccc;
 -webkit-box-shadow: 0 0 3px #ccc;
		 box-shadow: 0 0 3px #ccc;
}

.pagination a,
.pagination .currentStep {
	color: #666;
	font-size: 1.5em;
	margin: 0 0.3em;
	padding: 0.2em;
	text-decoration: none;
}

.pagination a:hover, .pagination a:focus {
	color: #333;
    text-shadow: 1px 1px 3px #ccc; 
}

.pagination .currentStep {
	font-weight: bold;
}

/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eaeaea));
			  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
		  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	overflow: hidden;
	padding: 0;
}

.buttons input {
	background-color: transparent;
	border: 0;
	color: #666;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.2em 0 0.2em 0.3em;
	overflow: visible;
	padding: 0.2em 0.6em;
}

.buttons input:hover, .buttons input:focus {
	color: #333;
	-moz-box-shadow: none;
 -webkit-box-shadow: none;
		 box-shadow: none;
	     text-shadow: 1px 1px 3px #ccc; 
}

.buttons input.delete {
	background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons input.edit {
	background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons input.save {
	background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
	padding-left: 28px;
}

a.skip {
	position: absolute;
	left: -9999px;
}