html {
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #758c3c, #fff); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #758c3c),color-stop(1, #ffffff)); 
	background-image: linear-gradient(top, #758c3c, #ffffff);
	          filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#758c3c', EndColorStr='#ffffff'); 
	background-repeat: no-repeat;
	height: 100%;
	 /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	 -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	         box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #abbf78;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: #fff;
	color: #333;
	font-family: Arial,Tahoma,Helvetica,"Helvetica Neue",sans-serif;
	margin: 0 auto;
	max-width: 1140px;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 1140px wide */
    -moz-box-shadow: 0 0 0.5em #255b17;
 -webkit-box-shadow: 0 0 0.5em #255b17;
         box-shadow: 0 0 0.5em #255b17;
	visibility: hidden;
}

.no-boxshadow body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.no-js body, body.ready {
	visibility: visible;
}

.ie6 body {
	height: 100%;
}

a:link, a:visited, a:hover {
	color: #48802c;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 1.25em;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */

#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

.content {
	margin: 0 1.25em 1.25em;
}

.footer {
	background: #758C3C;
	color: #abbf78;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.25em;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	color: #255b17;
}

/* NAVIGATION MENU */

.nav {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eaeaea));
              filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    border-width: 1px;
    border-color: #ccc;
    border-style: solid none solid none;
    padding: 0.5em 0.75em;
    zoom: 1;
    -moz-box-shadow: 0 0 0.25em #ccc;
 -webkit-box-shadow: 0 0 0.25em #ccc;
         box-shadow: 0 0 0.25em #ccc;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	padding: 0.25em 0.7em;
}

.nav a {
	color: #666;
	display: block;
	font-weight: bold;
	text-decoration: none;
}

.nav a:active, .nav a:visited {
	color: #666;
}

.nav a:focus, .nav a:hover {
	color: #333;
    text-shadow: 1px 1px 3px #ccc; 
}

.nav a.home {
	background: url(../images/skin/house.png) center left no-repeat;
	padding-left: 25px;
}

.nav a.list {
	background: url(../images/skin/database_table.png) center left no-repeat;
	padding-left: 25px;
}

.nav a.create {
	background: url(../images/skin/database_add.png) center left no-repeat;
	padding-left: 25px;
}

/* FORMS */

fieldset,
dl {
	background-color: #F2F2F2;
	border: 1px solid #CCCCCC;
	margin-top: 0.6em;
	padding: 0.3em 1.8em 1.25em;
	-moz-box-shadow: 0 0 0.25em #ccc;
 -webkit-box-shadow: 0 0 0.25em #ccc;
		 box-shadow: 0 0 0.25em #ccc;
}

.fieldcontain,
dt {
	margin-top: 1em;
}

dt {
	color: #666;
	margin-top: 0.6em;
}

label {
	color: #666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
	text-align: right;
	width: 8em;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #fff;
	border: 1px solid #eee;
	outline: 0;
	-moz-box-shadow: 0 0 0.5em #fff;
 -webkit-box-shadow: 0 0 0.5em #fff;
		 box-shadow: 0 0 0.5em #fff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 0 1em 0;
	padding: 0.5em;
}

.message {
	border: 1px solid #b2d1ff;
	color: #006dba;
	display: list-item;
	list-style: inside url(../images/skin/information.png);
	-moz-box-shadow: 0 0 0.25em #b2d1ff;
 -webkit-box-shadow: 0 0 0.25em #b2d1ff;
		 box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #faa;
	color: #c00;
	-moz-box-shadow: 0 0 0.25em #f88;
 -webkit-box-shadow: 0 0 0.25em #f88;
		 box-shadow: 0 0 0.25em #f88;
}

.errors ul {
	list-style: none;
	padding: 0;
}

.errors li {
	list-style: inside url(../images/skin/exclamation.png);
}

.error select,
.error input,
.error textarea {
	background: #fff3f3;
	border: 1px solid #faa;
}

.error select:focus,
.error input:focus,
.error textarea:focus {
	background: #fffafa;
	border: 1px solid #fdd;
	-moz-box-shadow: 0 0 0.25em #f88;
 -webkit-box-shadow: 0 0 0.25em #f88;
		 box-shadow: 0 0 0.25em #f88;
}

/* IE does not understand :invalid and will ignore rules combined with it, so these have to be separate */
select:invalid,
input:invalid,
textarea:invalid {
	background: #fff3f3;
	border: 1px solid #faa;
}

select:invalid:focus,
input:invalid:focus,
textarea:invalid:focus {
	background: #fffafa;
	border: 1px solid #fdd;
	-moz-box-shadow: 0 0 0.25em #f88;
 -webkit-box-shadow: 0 0 0.25em #f88;
		 box-shadow: 0 0 0.25em #f88;
}

/* TABLES */

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
	-moz-box-shadow: 0 0 0.25em #ccc;
 -webkit-box-shadow: 0 0 0.25em #ccc;
		 box-shadow: 0 0 0.25em #ccc;
}

tr {
	border: 0;
}

td, th {
	border-left: 1px solid #ddd;
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eaeaea));
			  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
		  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666;
}

th a:hover, th a:focus {
	color: #333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #fff;
}

th:hover, tr:hover {
	background: #b2d1ff;
}

/* PAGINATION */

.pagination {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eaeaea));
			  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
		  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	border: 1px solid #ccc;
	border-top: 0;
	margin: 0;
	padding: 0.6em 0.2em;
	text-align: center;
	-moz-box-shadow: 0 0 0.25em #ccc;
 -webkit-box-shadow: 0 0 0.25em #ccc;
		 box-shadow: 0 0 0.25em #ccc;
}

.pagination a,
.pagination .currentStep {
	color: #666;
	margin: 0 0.3em;
	padding: 0.2em;
	text-decoration: none;
}

.pagination a:hover, .pagination a:focus {
	color: #333;
    text-shadow: 1px 1px 3px #ccc; 
}

.pagination .currentStep {
	font-weight: bold;
}

/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eaeaea));
			  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea');
		  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	overflow: hidden;
	padding: 0;
}

.buttons input,
.buttons a {
	background-color: transparent;
	border: 0;
	color: #666;
	cursor: pointer;
	display: inline-block;
	font-family: Arial,Tahoma,Helvetica,"Helvetica Neue",sans-serif;
	font-weight: bold;
	margin: 0.2em 0 0.2em 0.3em;
	overflow: visible;
	padding: 0.2em 0.6em;
	text-decoration: none;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
	color: #333;
	-moz-box-shadow: none;
 -webkit-box-shadow: none;
		 box-shadow: none;
	     text-shadow: 1px 1px 3px #ccc; 
}

.buttons .delete {
	background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons .edit {
	background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons .save {
	background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
	padding-left: 28px;
}

a.skip {
	position: absolute;
	left: -9999px;
}

/* Styles for mobile devices */

@media screen and (max-width: 480px) {
	.nav {
		padding: 0.5em;
	}

	.nav li {
		margin: 0 0.5em 0 0;
		padding: 0.25em;
	}

	/* Hide individual steps in pagination, just have next & previous */
	.pagination .step, .pagination .currentStep {
		display: none;
	}

	.pagination .prevLink {
		float: left;
	}

	.pagination .nextLink {
		float: right;
	}

	/* slightly smaller margin around content body */
	.content {
		margin: 0 0.5em 0.5em;
	}

	fieldset, dl {
		padding: 0.5em;
	}

	input, select, textarea {
		width: auto;
	}

	/* hide all but the first column of list tables */
	.scaffold-list td:not(:first-child),
	.scaffold-list th:not(:first-child) {
		display: none;
	}

	.scaffold-list thead th {
		text-align: center;
	}

	/* stack form elements */
	.fieldcontain,
	dt {
		margin-top: 0.6em;
	}

	label {
		display: block;
		margin: 0 0 0.25em 0;
		text-align: left;
		width: auto;
	}
}

/* Styles for progressively enhanced form components */

/* range input */
/*
	found here http://net.tutsplus.com/tutorials/html-css-techniques/25-html5-features-tips-and-techniques-you-must-know/
	doesn't seem to work in latest Chrome but does in Opera
*/
input[type=range]:before { content: attr(min); padding-right: 0.5em; }
input[type=range]:after { content: attr(max); padding-left: 0.5em; }

label + input[type=range],
label + output.range-output {
	vertical-align: middle;
}

input[type=range] {
	border: 0;
	padding: 0;
	vertical-align: middle;
}

output.range-output {
	display: inline-block;
	margin-left: 1em;
	vertical-align: middle;
}

/* autocompleter for many-to-one and many-to-many */
ul.autocomplete-selected {
	list-style-type: none;
	padding: 0;
}

ul.autocomplete-selected li {
	background-color: #FCFCFC;
	border-color: #ccc;
	border-style: none solid solid;
	border-width: 1px;
	overflow: hidden;
	padding: 0.3em;
	position: relative;
}

.ie6 ul.autocomplete-selected li,
.ie7 ul.autocomplete-selected li {
	zoom: 1;
}

ul.autocomplete-selected .value {
	font-size: 0.8em;
	margin-right: 16px;
	padding-right: 0.5em;
	white-space: nowrap;
}

.ie6 ul.autocomplete-selected .value,
.ie7 ul.autocomplete-selected .value {
	display: inline;
	zoom: 1;
}

ul.autocomplete-selected a.autocomplete-remove-selection {
	background: url(/images/skin/icon_delete.png) no-repeat 0 1px transparent;
	display: inline-block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	text-decoration: none;
	text-indent: -9999px;
	width: 16px;
}

.ie6 ul.autocomplete-selected a.autocomplete-remove-selection,
.ie7 ul.autocomplete-selected a.autocomplete-remove-selection {
	display: inline;
	zoom: 1;
}

body .ui-widget {
	font-size: 0.9em;
}

/* ajax loading indicator */
.ajax-loading {
	background: #333;
	color: #ddd;
	font-size: 1.5em;
	padding: 0.5em;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 25%;
	width: 50%;

	-moz-border-radius: 1em 1em 0 0;
 -webkit-border-radius: 1em 1em 0 0;
		 border-radius: 1em 1em 0 0;
}