/* prevent FOUC */

body {
	visibility: hidden;
}

.no-js body, body.ready {
	visibility: visible;
}

/* Styles for progressively enhanced form components */

/* range input */
label + input[type=range],
label + output.range-output {
	vertical-align: middle;
}

input[type=range] {
	background: transparent; /* opera */
	border: 0;
	padding: 0;
	vertical-align: middle;
}

output.range-output {
	display: inline-block;
	margin-left: 1em;
	vertical-align: middle;
}

/* autocompleter for many-to-one and many-to-many */
input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing:content-box;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
	display: none;
}

ul.autocomplete-selected {
	list-style-type: none;
	padding: 0;
}

ul.autocomplete-selected li {
	background-color: #FCFCFC;
	border-color: #ccc;
	border-style: none solid solid;
	border-width: 1px;
	overflow: hidden;
	padding: 0.3em;
	position: relative;
}

.ie6 ul.autocomplete-selected li,
.ie7 ul.autocomplete-selected li {
	zoom: 1;
}

ul.autocomplete-selected .value {
	font-size: 0.8em;
	margin-right: 16px;
	padding-right: 0.5em;
	white-space: nowrap;
}

.ie6 ul.autocomplete-selected .value,
.ie7 ul.autocomplete-selected .value {
	display: inline;
	zoom: 1;
}

ul.autocomplete-selected a.autocomplete-remove-selection {
	background: url(/images/skin/icon_delete.png) no-repeat 0 1px transparent;
	display: inline-block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	text-decoration: none;
	text-indent: -9999px;
	width: 16px;
}

.ie6 ul.autocomplete-selected a.autocomplete-remove-selection,
.ie7 ul.autocomplete-selected a.autocomplete-remove-selection {
	display: inline;
	zoom: 1;
}

body .ui-widget {
	font-size: 0.9em;
}

/* ajax loading indicator */
.ajax-loading {
	background: rgba(0, 0, 0, 0.75);
	color: #dddddd;
	font-size: 1em;
	padding: 1em 0;
	text-align: center;
}

.no-rgba .ajax-loading {
	background-color: #404040;
}

.ie6 .ajax-loading,
.ie7 .ajax-loading,
.ie8 .ajax-loading {
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0000000, endColorstr=#c0000000);
}

/* messages and errors */

.ajax-loading,
.alert {
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.ie6 .alert {
	position: relative; /* IE6 doesn't do position:fixed, this will position the dismiss button inside the div */
}

.alert .errors,
.alert .message {
	background: none;
	border: none;
	color: #fff;
	font-size: 1em;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.alert .message {
	background-color: rgba(127, 127, 255, 0.95);
	padding: 1em;
	text-align: center;
}

.no-rgba .alert .message {
	background-color: #7f7fff;
}
.ie6 .alert .message,
.ie7 .alert .message,
.ie8 .alert .message {
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f27f7fff, endColorstr=#f27f7fff);
}

.alert .errors {
	background-color: rgba(255, 63, 63, 0.95);
}

.no-rgba .alert .errors {
	background-color: #ff3f3f;
}

.ie6 .alert .errors,
.ie7 .alert .errors,
.ie8 .alert .errors {
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2ff3f3f, endColorstr=#f2ff3f3f);
}

.alert .errors ul {
	list-style: none;
	margin: 0.5em auto;
	max-width: 640px;
}

.alert .errors li {
	background: none;
	list-style: disc inside;
	padding: 0.5em;
}

a.dismiss-alert {
	background: url(../images/skin/icon_close.png);
	text-indent: -9999px;
	height: 42px;
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	text-shadow: none;
	width: 42px;
}

/* error tooltips */
.error-tooltip {
	background: #ff6666;
	border: 1px solid #ff6666;
	color: #ffffff;
	font-size: 0.8em;
	margin: 0;
	max-width: 20em;
	padding: 0.5em;
	position: absolute;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	-moz-border-radius: 0.5em;
 -webkit-border-radius: 0.5em;
		 border-radius: 0.5em;
	-moz-box-shadow: 0 0 0.25em #ff6666;
 -webkit-box-shadow: 0 0 0.25em #ff6666;
		 box-shadow: 0 0 0.25em #ff6666;
}

.tooltip-pointer {
	width: 0;
	height: 0;
	border: 0.75em solid transparent;
	border-right-color: #ff6666;
	position: absolute;
	left: -1.5em;
}

